[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ngsolve = "~=6.2"
numpy = "~=2.3"
scipy = "~=1.16"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.11"
